.sponsored-text {
    font-size: 75%;
    font-weight: 300;
    color: #3571C4;
    @include respond-to('small') {
        font-size: 1rem;
    }
}

.offer-page__main {
    width: 100vw;
    max-width: 100vw;
    min-height: 350px;
    font-size: 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20vw;
    @include respond-to('small') {
        padding: 5px 10px;
    }
}

.offer-page__mnet-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    @include respond-to('small') {
        padding-top: 0;
    }
}

.sponsored-text-lg {
    font-size: 38px;
    @include respond-to('small') {
        font-size: 1.25rem;
    }
}

.offer-page__main-1 {
    width: max-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include respond-to('small') {
        width: auto;
        min-height: 70vh;
    }
}

.offer-page__main-multi {
    width: fit-content;
    max-width: 1400px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0;

    @include respond-to('small') {
        width: auto;
        min-height: 100vh;
        max-width: 100vw;
    }
}

.offer-header-text {
    font-weight: 400;
    font-size: 2.2rem;
    padding-bottom: 40px;
    @include respond-to('small') {
        font-size: 1.5rem;
    }
}

.offer-container {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include respond-to('small') {
        margin: 0;
        padding: 10px;
    }
}

iframe#_mN_dy_857097420 {
    top: 20px;
}