.four-button-group {
	width: 100%;
	max-width: 1200px;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 18px;
    margin: 15px auto;
}