.feed_loader {
	min-height: 25vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lottie-loader {
	min-width: 100vw
}

.pch-loading-container,
.wave-loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}

.pch-loading-message,
.wave-loading-message {
	font-size: 2rem;
	font-weight: 300;
	color: $text-primary;
}
.pch-loading-container {
	@include respond-to('small') {
        width: 100%;
        padding: 0;
    }
}

.pch-loading-message {
	@include respond-to('small') {
        width: 100%;
		padding: 20px 40px;
		font-size: 1.8rem;		
    }
}

.pch-loading-title {
	font-size: 1.75rem;
	font-weight: 500;
}