.card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    @include respond-to('small') {
        padding: 0 10px;
    }
}
.article-card {
	margin: 20px;
    width: 300px;
    @include respond-to('small') {
        width: 80vw;
    }
}