// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/** 
 * Choose a button background color based on className
*/
.MuiButtonBase-root.bg__light_blue,
.bg__light_blue {
  background-color: $light-blue !important;
  color: $white !important;
}
.MuiButtonBase-root.bg__blue,
.bg__blue {
  background-color: $medium-blue !important;
  color: $white !important;
}
.MuiButtonBase-root.bg__dark_blue,
.bg__dark_blue {
  background-color: $dark-blue !important;
  color: $white !important;
}
.MuiButtonBase-root.bg__red,
.bg__red {
  background-color: $red !important;
  color: $white !important;
}
.MuiButtonBase-root.bg__hsw1 {
  background-color: $hsw-dark !important;
  color: $white !important;
}
.MuiButtonBase-root.bg__hsw2 {
  background-color: $hsw-light !important;
  color: $white !important;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}